@import 'presets';

.app {
  min-height: 100vh;
  width: calc(100vw - 56px);
  max-width: 1280px;


  margin-left: 28px;
  margin-right: 28px;

  margin: 0 auto;

  position: relative;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

body, button, input, input::placeholder {
  font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 28px;
  font-weight: 400;
  color: #020075;
  background: linear-gradient(122.01deg, rgba(0, 163, 255, 0.05) 0%, rgba(90, 127, 255, 0.05) 34.38%, rgba(185, 71, 255, 0.05) 66.67%, rgba(255, 71, 193, 0.05) 98.44%), #FFFFFF;
  // overflow: auto;

  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sc--sidebar {
  position: fixed;
  width: 248px;
  height: calc(100vh - 96px);

  overflow-y: auto;
  overflow-x: hidden;

  font-size: 20px;
  font-weight: 600;

  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 48px;
  padding-top: 48px;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */

    &:nth-child(1) {
      flex: 1;
    }
  }

  > li {
    @include transition(all, 150ms);
    @include border-radius(6px);
    @include user-select(none);

    height: 48px;
    width: calc(100% - 24px);

    text-transform: capitalize;

    &.expand {
      height: auto;
      li {
        @include transition(all, 150ms);
        height: 48px;
        opacity: .75;
        pointer-events: inherit;
        font-weight: 500;

        &:hover {
          opacity: .5;
        }

        &.active {
          opacity: 1;
        }
      }
      > div > div {
        transform: rotate(90deg);
      }
    }

    &:not(.expand) {
      &:hover {
        cursor: pointer;
        opacity: .75;
      }
    }

    > div {
      width: 100%;
      height: 48px;

      > div {
        @include transition(all, 150ms);
        transform: rotate(0);
        width: 12px;
        // height: 20px;
        margin-right: 8px;
        // margin-left: -28px;
        font-size: 16px;
      }
    }

    li {
      @include transition(all, 150ms);
      height: 0;
      opacity: 0;

      font-size: 16px;
      margin-left: 20px;
      pointer-events: none;

      &:hover {
        cursor: pointer;
        opacity: .75;
      }
    }

    li.active {
      color: #2400FF;
    }
  }
}
.sc--main {
  margin-left: calc(288px + 28px);
  min-height: calc(100vh - 96px);
  padding-bottom: 48px;
  padding-top: 48px;

  // background-color: green;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px;

    width: 100%;
    margin-bottom: 64px;

    li {
      @include border-radius(20px);
      padding-top: 0%;
      background-color: white;
      box-shadow: 0 15px 28px 0 rgba(2,0,117,.1);
    }
  }

  h1 {
    font-size: calc(16px + 2vw);
    font-weight: 600;
  }

  h2 {
    font-size: calc(12px + 1vw);
    font-weight: 500;
    opacity: .75;
  }

  h1, h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 36px;
  }
}


.name{
    font-size: 2vw;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.name, .git-div{
  display: inline;
}

.git-img{
  height: 1.5vw;
  width: 1.5vw;
  padding-top: 15%;
}

.git-div, .git-img, .git-label{
  display: inline;
}

.git-label{
}

.git-url{
  top: 0;
  font-size: 1.3vw;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-top: 0%;
  padding-left: 5%;
  text-align: center;
}

.git-div{
  float: right;
  background-color: #F2F2F2;
  width: 20%;
  border-radius: 5px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 4%;
  padding-top: 4%;
  margin-right: 20%;
}

.desc{
  margin-top: 10%;
  font-size: 1.5w;
}

.the-cell{
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;  
  width: 30vw;
  height: 13vw;
}