@import 'presets';

.app {
  min-height: calc(100vh - 96px);
  width: calc(100vw - 56px);
  max-width: 1280px;


  margin-left: 28px;
  margin-right: 28px;
  padding-top: 48px;
  padding-bottom: 48px;

  margin: 0 auto;

  position: relative;
}

body, button, input, input::placeholder {
  font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 28px;
  font-weight: 400;
  color: #020075;

  // overflow: auto;

  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sc--sidebar {
  position: fixed;
  width: 288px;
  height: 100vh;

  // background-color: blue;

  overflow-y: auto;
  overflow-x: hidden;

  font-size: 20px;
  font-weight: 600;

  > ul {
    padding-left: 16px;
    padding-right: 16px;

    > li {
      @include transition(all, 150ms);
      @include border-radius(6px);
      @include user-select(none);

      height: 48px;
      width: calc(100% - 24px);

      padding-left: 12px;
      padding-right: 16px;

      text-transform: capitalize;

      &.expand {
        height: auto;
        li {
          height: 48px;
          opacity: .5;
          pointer-events: inherit;
          font-weight: 500;

          &:hover {
            opacity: .75;
          }

          &.active {
            opacity: 1;
          }
        }
        > div > div {
          transform: rotate(90deg);
        }
      }

      &:not(.expand) {
        &:hover {
          cursor: pointer;
          opacity: .75;
        }
      }

      > div {
        width: 100%;
        height: 48px;

        > div {
          @include transition(all, 150ms);
          transform: rotate(0);
          width: 14px;
          height: 14px;
          margin-right: 6px;
          margin-left: -20px;
          font-size: 14px;
        }
      }

      li {
        @include transition(all, 150ms);
        height: 0;
        opacity: 0;

        font-size: 16px;
        pointer-events: none;

        &:hover {
          cursor: pointer;
          opacity: .75;
        }
      }

      li.active {
        color: #2400FF;
      }
    }
  }
}
.sc--main {
  margin-left: calc(288px + 28px);
  height: 1800px;
  // background-color: green;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px;

    width: 100%;
    margin-bottom: 64px;

    li {
      @include border-radius(20px);
      padding-top: 80%;
      background-color: rgba(2,0,117,.25);
      box-shadow: 0 15px 20px 0 rgba(2,0,117,.15);
    }
  }

  h1 {
    font-size: calc(16px + 2vw);
    font-weight: 600;
  }

  h2 {
    font-size: calc(12px + 1vw);
    font-weight: 500;
    opacity: .75;
  }

  h1, h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 36px;
  }
}
